DATABASE_URL = "VALUE"
PORT = "VALUE"
JWT_SECRET = "VALUE"
REDIS_HOS = "VALUE"
REDIS_PORT = "VALUE"
GEMINI_API_KEY = "VALUE"
GROQ_API_KEY = "VALUE"
GOOGLE_USER = "VALUE"
GOOGLE_CLIENT_ID = "VALUE"
GOOGLE_CLIENT_SECRET = "VALUE"
GOOGLE_REFRESH_TOKEN = "VALUE"
B2_BUCKET_NAME = "VALUE"
B2_KEY_ID = "VALUE"
B2_APPLICATION_KEY = "VALUE"
B2_ENDPOINT = "VALUE"